.hero-head{
    margin-top: 5%;
    }
    .Ultrabold {
        font-family: NeueMachina;
    }
    .hello {
        font-size: 12rem;
        margin-bottom: 2rem;
        margin-left: 6vw;
        margin-right: 6vw;
        color: white;
        font-weight: 900;
        text-align: center;
    }
    
    .update {
        line-height: 160px;
        margin-left: -10px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        background: url('./future-03.65e70e18741c4a9d14a7.jpg');
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
      }
      @keyframes back {
        100% {
          background-position: 2000px 0;
        }
      }